<%= image_tag(@your_movie.poster, size: "300x450") %>

<p>Your rating: <%= @your_movie.tomatoes %></p>
<%= button_to("Vote up", vote_up_path(movie_id: @your_movie.id), {method: :put}) %>
<%= button_to("Vote down", vote_down_path(movie_id: @your_movie.id), {method: :put}) %>

<p>Movie info:</p>
<ul>
  <li>Year: <%= @your_movie.year %></li>
  <li>MPAA Rating: <%= @your_movie.mpaa_rating %></li>
  <li>Plot: <%= @your_movie.plot %></li>
</ul>
