<h1>Movie Details: "<%= @selected.title %>"</h1>

<%= image_tag(@selected.poster, size: "300x450") %>

<ul>
  <li>Title: <%= @selected.title %></li>
  <li>Year: <%= @selected.year %></li>
  <li>MPAA Rating:<%= @selected.title %></li>
  <li>Plot: <%= @selected.plot %></li>
</ul>

<%= button_to("Save this movie!", create_it_path(movie_id: @selected.id, tomatoes: 50)) %>
<%= button_to("Fav this movie!", create_it_path(movie_id: @selected.id, tomatoes: 100)) %>


